.Middle {
    text-align: center;
}

.row {
    margin-left: 20px;
    text-align: center;
    background-color: black;
}

h5 {
    float: center;
    text-align: center;
    margin: 50px;
    padding: 30px;
}

p {
    float: center;
    text-align: center;
    font-size: medium;
    padding-top: 20px;
}