*body {
    margin: 0%;
    padding: 0%;
}

.section-header {
    margin-top: 0rem;
    background-image: url('../Background.jpeg');
    height: 60vh;
}

.section-header h1 {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

ul {
    margin-top: 40px;
}

ul li a {
    color: azure;
    font-weight: bold;
    font-size: larger;
    margin-top: 30px;
}

ul li a p {
    margin-top: 10px;
}

.footer {
    text-align: center;
}