body {
    margin: 0%;
    padding: 0%;
}

.section-3 {
    height: 80vh;
    border-style: dashed;
    border-color: black;
    margin-top: 5%;
}

.h3 {
    font-weight: bold;
    font-size: 20px;
}

.section-3 p {
    font-style: oblique;
    font-size: large;
}