body {
    margin: 0%;
    padding: 0%;
}

.section-3 {
    height: 80vh;
    border-style: dashed;
    border-color: blue;
    margin-top: 5%;
}

.container {
    padding: 5px 5px;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.col-md-6 {
    align-items: center;
    margin-top: 30px;
}

p {
    text-align: center;
    font-style: oblique;
    font-size: large;
}