*body {
    margin: 0%;
    padding: 0%;
}

.navbar {
    color: rgb(57, 73, 255);
}

a {
    color: aliceblue;
}

ul li a {
    color: aliceblue;
}

.dropdown-menu a {
    color: blueviolet;
}

li a .nav-link {
    color: azure;
}