*{
    margin: 0px;
    padding: 0px;
}


.img{
    background-image: url("../images/back.jpeg");
    background-size: cover;
    width:100%;
    height: 120vh;
}

.menu{
 width: 100%;
 height: 100px;
 background-color: rgba(0, 0,0, 0.5);
}

.line{
width: 100%;
height: 2px;
background-color: orange;
}

.line_2{ 
    margin-top: 96px;
    width: 100%;
    height: 2px;
background-color: orange;
}


/* For_Left_Menu */

.left_menu{
    margin-top: .8px;
    margin-left: 20px;
    background-image: url("../images/SWV-logo-1.png");
    background-position-y: 50%;
    background-position-x: 50%;
    border-radius: 10px;
    height: 88px;
    width: 150px;
    float: left;
}
.left_menu p{
    color: rgb(56, 54, 53);
    margin-left: 39px;
    font-size: 7px;
    padding:22px;
    font-weight: bolder;
}



/* For_Right_Menu */

.right_menu{
    width: 80%;
    height: 80px;
    float: right;
}

.right_menu ul{
 float: left;
}

.right_menu ul li{
   padding-top: 50px;
    font-family: 'monteserrat';
    display: inline-block;
    list-style:none ;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
     margin-left: 42px;
     text-transform: uppercase;
     position: relative;
     
}

.right_menu ul li a{
    display: block;
    font-size: 16px;
    color: white;
}

.right_menu ul li:hover ul{
    display: block;
}

.right_menu ul li a:hover{
    color:rgb(245, 227, 148) ;
    background-color: rgba(0, 0,0, 0.5);
    
}



/* For_Middle_Menu*/
.middle_menu{
     width: 100%;
    height: calc(100% - 120vh);
 
}

.middle_left_menu{
    width: 15%;
    height: 70vh;
    float: left;
    background-color: rgba(0, 0,0, 0.5);
    border-bottom-left-radius: 15px;
     border-bottom-right-radius: 15px;
     border-top-right-radius: 15px;
}

.middle_left_menu ul{
    padding-top: 20px;
    padding: 20px;
  
}

.middle_left_menu ul li{
text-align: center;
font-family: 'monteserrat';
display: inline-block;
list-style:none ;
font-size: 14px;
font-weight: bold;
line-height: 60px;
 text-transform: uppercase;
 position: relative;
}

.middle_left_menu ul li a{
display: block;
font-size: 14px;
color: white;
}

.middle_left_menu ul li:hover{
display: block;
}

.middle_left_menu ul li a:hover{
    color:rgb(245, 227, 148) ;
    background-color: rgba(0, 0,0, 0);
    }



/* For Middle_Center_Menu*/

.middle_center_menu{

    padding-top: 25px;
    width: 90%;
    height: 100vh;
}

.SWV{
    border-radius: 5px;
    margin-left:400px;

}

.middle_center_menu h2{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 242, 59);
}

.middle_center_menu p{
    font-size: 16px;
    padding-top: 5px;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    color: white;
}

.middle_center_menu .icon{
    margin-top: 30px;
 
}

.icon{  
    margin-left: 125px;
background-size: cover;
width:90px;
height: 90px;
padding-top: 60px;
border-radius: 40px;
border-radius:40%;
}

.Name{
    padding-top: 20px;
    text-align: center;
    margin-left: 120px;
    width:95%;
}

.middle_center_menu .Name ul li{
    color:white;
    font-family: 'monteserrat';
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
     text-transform: uppercase;
     position: relative;
     padding: 0px 55px;
     border-radius: 20px;
 
}

.middle_center_menu .Name ul li:hover{
    background-color:rgba(192, 6, 6, 0.76);
}

.middle_menu .middle_center_menu .button{
    float: center;
    padding-left: 30px;
 
}

#Button_01{
    margin-left: 330px;
    background-color: rgba(33, 55, 253, 0.37);
    border: 3px solid white;
    font-size: 12px;
    font-family: 'Monteserrat',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
    width: 120px;
    margin-top: 98px;
}

#Button_02{
    margin-left: 30px;
    color:white;
background-color: transparent;
border: 3px solid white;
font-family: 'Monteserrat',sans-serif;
text-transform: uppercase;
font-weight: bold;
line-height: 35px;
width: 120px;
margin-top: 98px;

}

/* For School-Eng-MBA-Medical */

.middle_center_menu .Name ul li a{
  
    margin: 10px;
    display: block;
    font-weight: 800;
    font-size: 17px;
    color: white;
}

.middle_center_menu .Name ul li ul{
        height: 85px;
        display: none;
        position: absolute;
        background-color: rgba(0, 0,0, 0.5);
        border-radius: 4px;
    }
   
    .middle_center_menu .Name ul li ul li{
        text-align: left;
        font-size: 15px;
        padding-top: 7px;
        width: 35px;
        font-weight: 500;
    }

.middle_center_menu .Name ul li:hover ul{
    width: 155px;
    display: block;
}

.middle_center_menu .Name ul li ul li:hover{
    width: 45px;
background-color: rgba(223, 231, 241, 0.562);
}


.line_3{
    margin-top: 300px;
    width: 100%;
    height: 2px;
background-color: orange;
}

.line_4{
    margin-top: 48px;
    width: 100%;
    height: 2px;
background-color: orange;
}

.footer_menu{
    margin-top: 553px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;

}

.footer{
    margin-right: 12px;
    margin-top: 15px;
    float: right;
   margin-left: 35px;
   border-radius: 100px;
    text-align: center;

}